.nav {
  position: fixed;
  top:0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4B4C54 ;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
.navReg {
  width: 100px;
  float:right; 
}
.navSign {
  width: 100px;
  float:right;
  
}
.navSign a {
  color:#4563FE ;
}
.navHome {
  width:100px;
  float:left;
}
.addUserForm {
  margin-top: 100px;
  margin-left: 300px;
}
.label_title{
  font-size:50px;
}
label {
  margin-left: 30px;
  font-size: 30px;
}
.signInput {
  width: 400px;
  margin-left: 60px;
  padding: 12px 20px;
  border: 1px solid #ccc;
}
.signForgot {
  margin-left: 30px;
  font-size: 20px;
}
.signSubmit {
  margin-top: 20px;
  margin-left:30px;
  padding: 12px 190px;
}
.signWrong {
  margin-left: 30px;
  color:red;
}