.type {
  font-size: 0.9rem;
  font-style: italic;
}

.open {
  color: green;
}

.closed {
  color: red;
}

.submitSafetyRating {
  margin-left: 1rem;
}

.form {
  margin-top: 1rem;
}

.closeForm {
  margin-top: 1rem;
}
