.nav {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4b4c54;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}
.navReg {
  width: 100px;
  float: right;
}
.navSign {
  width: 100px;
  float: right;
}
.navSign a {
  color: #4563fe;
}
.navHome {
  width: 100px;
  float: left;
}

.navStat {
  width: 100px;
}

.navMap {
  width: 100px;
}

.Text {
  display: inline-block;
  margin-left: 10px;
}

.Text1 {
  display: inline-block;
  margin-left: 10px;
}

.ReportDate {
  display: inline-block;
  margin-left: 5px;
}
.statBody table {
  display: inline-block;
  border-collapse: collapse;
  margin-left: 10px;
}

.statBody tr:nth-child(even) {
  background-color: #d4d0d0;
}

.statBody tr:hover {
  border: 1px solid black;
  background-color: #ec9090;
}

.statBody th  {
  background-color: green;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  color: white;
  text-align: left;
}

#rate,
#risk
{
  background-color: red;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  color: white;
  text-align: left;
}


.statBody td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}
.statBody {
  margin-top: 30px;
}
.statMap {
  position: fixed;
  margin-top: -30px;
  margin-left: 30px;
  width: 680px;
  height: 570px;
}
