h1{
  display:inline-block;
  
}

.ReportDate{
  display:inline-block;
  margin-left: 50px;

}
table{
  border-collapse: collapse;
}

tr{

  border: 1px solid black;
  
  
}

th{
  background-color:green ;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
  color: white;

}

td{
  
  border: 1px solid black;
  border-collapse: collapse;
  padding: 10px;
}