.nav {
  position: fixed;
  top:0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4B4C54 ;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}
.navReg {
  width: 100px;
  float:right; 
}
.navSign {
  width: 100px;
  float:right;
  
}
.navSign a {
  color:#4563FE ;
}
.navHome {
  width:100px;
  float:left;
}
.bodyMain {
  margin-top: 65px;
  margin-left: 15px;
}

