.page_body {
  margin-top: 70px;
  margin-left: 10px;

}
.Modal {
  overflow-y: auto;
  margin-left: 20%;
  margin-top: 70px;
  width: 55%;
  max-height: 85vh;
  border: 1px solid black;
  background-color: #c8e7fa;
}
.input_label {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
  text-align: left;
  font-size: 17px;
  font-weight: bold;
  
}
.input_label select {
  margin-left: 20px;
  padding: 3px 10px;
  text-align: center;
}
.close_form {
  margin-left: 5px;
  position:fixed;
  background-color: #c91020; 
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
  padding: 5px 10px;
}
.edit_symptom {
  margin-left:80px;
  position:fixed;
  background-color: #15a339; 
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
  padding: 5px 15px;
}
.show_per {
  margin-left:15px;
}

.page_body table {
  margin-top: 30px;
  margin-left: 100px;
  width: 1000px;
  border: 1px solid #ddd;
  padding: 8px;
  border-collapse: collapse;
  display: none;
}
.page_body th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #498be3;
  color: white;
}
.page_body td {
  border:1px solid black;
  border-collapse: collapse;
  padding: 10px;
  text-align: center;
}
.page_body td, .page_body th {
  border: 1px solid #ddd;
  padding: 8px;
}
.page_body tr {
  background-color: #f2f2f2;
}
.page_body td:hover {background-color: #ddd;}

#closeView {
  margin-top: 30px;
  margin-left: 230px;
  display: none;
  background-color: #c91020; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
}
#closeView:hover,#editSymp:hover, #calPer:hover, .close_form:hover, .edit_symptom:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#editSymp {
  margin-top: 10px;
  margin-left: 15px;
  display: none;
  background-color: #7d7979; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
}
#calPer {
  margin-top: 10px;
  margin-left: 15px;
  display: none;
  background-color: #15a339; 
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  transition-duration: 0.4s;
}
#seeProb {
  display: none;
  margin-top:25px;
  margin-left: 300px;
  font-size: 25px;
  font-weight: bold;
}
#seeProb span {
  color:red;
  text-decoration: underline;
}
.editSymptomForm {
  height: 500px;
}

.viewAllSymp {
  margin-top: 10px;
  margin-left: 100px;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  color: #ffffff;
  background-color: #0764e0;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

.viewAllSymp:hover {background-color: #043d8a}

.viewAllSymp:active {
  background-color: #043d8a;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.page_body h1 {
  margin-left: 50px;
}
.page_body h2 {
  margin-top: 20px;
  margin-left: 100px;
}
.text1 {
  font-size: 20px;
  margin-top: 30px;
  margin-left: 50px;
}
#text2 {
  margin-top: 40px;
  margin-left: 50px;
  margin-right: 70px;
}