.nav {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4b4c54;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4caf50;
}

.navReg {
  width: 100px;
  float: right;
}
.navSign {
  width: 100px;
  float: right;
}
.navSign a {
  color: #4563fe;
}
.navHome {
  width: 100px;
  float: left;
}
.navStat {
  width: 100px;
}

.navMap {
  width: 100px;
}

.regisUserForm {
  margin-top: 70px;
  margin-left: 300px;
}
.regisUserForm label {
  font-size: 20px;
}
.regisInput {
  width: 400px;
  margin-left: 60px;
  padding: 8px 20px;
  border: 1px solid #ccc;
}
.regisInputDate {
  width: 358px;
  margin-left: 60px;
  padding: 8px 20px;
  border: 1px solid #ccc;
}
.secret {
  margin: 5px;
  padding: 4px;
  color: black;
  border: solid 1px black;
  background-color: lightgrey;
  text-decoration: none;
}
.regisWrong {
  margin-left: 30px;
  color: red;
}
.regisSubmit {
  margin-top: 20px;
  margin-left: 30px;
  padding: 5px 190px;
}
.regisUserForm p {
  margin-left: 30px;
}
